export DATABASE_URL="postgres://user:password@localhost:5432/todoist_recipes?sslmode=disable"
export POSTGRES_DB="todoist_recipes"
export POSTGRES_USER="todoist"
export POSTGRES_PASSWORD="todoist"
export TODOIST_API_TOKEN=""
export TODOIST_PROJECT_ID=""
export TODOIST_API_BASE_URL="https://api.todoist.com/api/v1"
export BASE_URL=""
export LOCAL_IP="localhost"
