export DATABASE_PATH="data/recipes.db"
export TODOIST_API_TOKEN=""
export TODOIST_PROJECT_ID=""
export TODOIST_API_BASE_URL="https://api.todoist.com/api/v1"
export BASE_URL=""
export LOCAL_IP="localhost"
